html {
  font-family: helvetica, sans-serif;
  width: 1230px;
}
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  height: 75px;
  width:1230px;
}
.logo {
  height: 60px;
  padding-left: 20px;
}
.mytimes {
  height: 60px;
  width: 1230px;
  align-items: center;
  padding-left: 15px;
}
nav {
  width: 400px;
  height: 60px;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}
nav a {
  color: #000;

}
nav .box {
  width: 75px;
  height: 60px;
  margin: 5px;
}
.container {
  border: 1px solid black;
  display: inline-flex;
  justify-content: space-between;
  width: 1230px;
}
.column-large {
  width: 630px;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
.l1, .l2, .l3, .l4, .l5, .l6 {
  border: 1px solid black;
  width: 630px;
  height: auto;
}
.image-content {
  background-image:url(Resources/images/img-story-main.png);
  width: 630px;
  height: 300px;
  margin-top: 0;
  display:flex;
  text-align: left;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}
.story-content {
  width: 630px;
}
p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  }
h3 {
  font-family: Georgia;
  font-size: 24px;
  color: black;
  font-weight: bold;
}
.fall-image {
  background-image: url(Resources/images/story-2-fall.png);
  width: 630px;
  height: 300px;
  display: flex;
  justify-content: center;
}
.beard-image {
  background-image: url(Resources/images/story-3-beard.png);
  width: 630px;
  height: 300px;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.photo-titles {
  font-family: Georgia;
  font-weight: bold;
  margin-top: 0;
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 0  20px;
}

.column-medium {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
.cats-image {
    background-image: url(Resources/images/story-1-cat.png);
    height: 300px;
    width: 300px;
}
.column-small {
  width: 240px;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid black;

}
