html {
  font-family: helvetica, sans-serif;
}
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 80px;
  background-color: white;
}
.logo {
  height: 60px;
  padding-left: 20px;
}
.mytimes {
  height: 60px;
  width: 1230px;
  align-items: center;
  padding-left: 15px;
}
nav {
  width: 400px;
  height: 80px;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}
nav a {
  color: #000;

}
nav .box {
  width: 75px;
  height: 60px;
  margin: 5px;
}
.container {
  display: inline-flex;
  flex-flow: wrap;
  width: 100%;
  margin-top: 80px;
}
.column-large {
  width: 630px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.l1, .l2, .l3, .l4, .l5, .l6 {
  width: 300px;
  height: auto;
}
.l2 {
  order:1;
  margin-right: 15px;
}
.l4 {
  order:2;
  margin-left: 15px;
}
.image-content {
  background-image:url(Resources/images/img-story-main.png);
  width: 630px;
  height: 315px;
  margin-top: 0;
  display:flex;
  text-align: left;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}
.story-content {
  width: 630px;
}
div .more-stories {
  display: inline-flex;
  flex-flow: row wrap;
}
p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  }
h3 {
  font-family: Georgia;
  font-size: 24px;
  color: black;
  font-weight: bold;
}
.fall-image {
  background-image: url(Resources/images/story-2-fall.png);
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  order: 3;
  margin-right: 15px;
  margin-top: 15px;
}
.beard-image {
  background-image: url(Resources/images/story-3-beard.png);
  width:300px;
  margin-left: 15px;
  margin-top: 15px;
  height: 300px;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  order: 4;
}
.photo-titles {
  font-family: Georgia;
  font-weight: bold;
  margin-top: 0;
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 0  20px;
}
.column-medium {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  px;
}
.cats-image {
    background-image: url(Resources/images/story-1-cat.png);
    height: 300px;
    width: 300px;
    margin-top: 15px;
}
.column-small {
  width: 240px;
  height: auto;
  display: flex;
  flex-direction: column;
}
